.Navbar {
    height: 8vh; /* sets the height to 8% of the height of the visible space on the screen */
    background-color: gray;
    display: flex;
    flex-direction: row;
    align-items: center; /* aligns the items vertically */
    gap: 1em; /* sets gap between items */
    flex-wrap: nowrap;
    padding-left: 10px;
}

.Navbar a {
    color: purple;
}

.Navbar a:hover {
    cursor: pointer;
}